* {
  background-color: black;
  color: white;
}

h1 {
  text-align: center;
  color: royalblue;
  text-shadow: 5px, 5px, 5px white;
  background-color: transparent;
  font-family: "fantasy", "copperplate";
  font-size: 50px;
}

socials img {
  display: block;
  text-indent: 10px;
}

img {
  display:block ;
}

p {
  text-align: center;
  border: 1px solid white;
  font-size: 25px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 50px;
    margin-left: 700px;
    font-family: "fantasy", "copperplate";
    line-height: 1.5;
}


h2 {
  text-align: center;
  font-size: 25px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 100px;
  margin-right: 100px;
}

h3 {
  text-decoration: underline;
  font-size: 30px;
  text-indent: 100px;
}

h4 {
  text-decoration: underline;
  font-size: 30px;
  text-align: center;
  line-height: 2.0;
}

h5 {
  text-decoration: underline;
  font-size: 30px;
  text-align: center;
}

h6 {
  text-decoration: underline;
  font-size: 30px;
  text-align: center;
}
